/*Main style sheet for Fortsite

Includes theme colors, header, footer and toolbar styling

*/
html {
    background-color: pink;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

body {
    text-align: center;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: auto;
}

@media screen and (min-width: 1000px) {
    img {
        position: relative;
        left: 0px;
        max-width: 500px;
        max-height: 100vh;
        padding: 30px;
    }
}

@media screen and (max-width: 999px) {
    img {
        display: none;
    }
}


#heart {
    position: relative; 
    margin: auto;
    top: 15px;
    width: 200px; 
    height: 160px;
}

#heart:before, #heart:after { 
    position: absolute; 
    content: ""; 
    left: 100px; 
    top: 0; 
    width: 100px; 
    height: 160px; 
    background: red; 
    border-radius: 50px 50px 0 0; 
    transform: rotate(-45deg); 
    transform-origin: 0 100%; 
} 

#heart:after { 
    left: 0; 
    transform: rotate(45deg); 
    transform-origin :100% 100%; 
}

#resultsBox {
    position: relative;
    font-size: 50px;
    top: 40px;
    z-index: 100;
}

#quotesCard {
    background-color: rgba(104, 104, 109, 0.242);
    margin-left: auto;
    margin-right: auto;
    max-width: 18rem;
    border-style: dotted;
    margin-top: 10px;
}

.sort {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
}

#quotesBox {
    margin-top: 30px;
}

footer {
    position: relative;
    padding-bottom: 0;
    margin-top: 10px;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(216, 207, 207);
    padding: 5px;
}